<%= form_for @topic do |f| %>
    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image%>
      <p>※画像ファイルはjpg、jpeg、pngのいずれかのみ。</p>
    </div>

    <div class="form-group">
      <%= f.label :date %>
      <%= f.date_select :date, {}, class: 'form-control' %>
    </div>
          
    <div class="form-group">
      <%= f.label :brand %>
      <%= f.text_area :brand, class: 'form-control' %>
    </div>
          
    <div class="form-group">
      <%= f.label :item %>
      <%= f.text_area :item, class: 'form-control' %>
    </div>
          
    <div class="form-group">
      <%= f.label :size %>
      <%= f.text_area :size, class: 'form-control' %>
    </div>
          
    <div class="form-group">
      <%= f.label :price %>
      <%= f.text_area :price, class: 'form-control' %>
    </div>
          
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <%= f.submit '投稿', class: 'btn btn-black btn-block' %>
  <% end %>