<div class="topic-index-wrapper">
  <div class="container">
    <h1>投稿画面からアイテムの投稿をしよう！</h1>
    <% if logged_in? %>
      <%= link_to "投稿",topics_new_path %>
    <% end %>
    
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= topic.user.name %>
            </h2>
            <%= image_tag topic.image.url %>
            <ul class="topic-text">
              <li>date：<%= topic.date %></li>
              <li>brand：<%= topic.brand %></li>
              <li>item：<%= topic.item %></li>
              <li>size：<%= topic.size %></li>
              <li>price：<%= topic.price %></li>
              <li>description：<%= topic.description %></li>
            </ul>
            
            <% if logged_in? %>
              <%= link_to "編集", edit_topic_path(topic.id) %>
              <%= link_to "削除", topic_path(topic.id), method: :delete, data: {confirm: "本当に削除しますか？"} %>
            <% end %>
            
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>